<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>LITERARY LIONS FORUM</h1>
        <nav>
            <a class="headerlinks" href="/">Home</a>
            <a class="headerlinks" href="/post">Forum</a>
            <a class="headerlinks" href="/logout">Logout</a>
            <a class="headerlinks" href="/profile">My Page</a>
            <p>logged in as</p>
            <strong><h1><p>{{.Username}}</p></h1></strong>
        </nav>
    </header>

    <main>
        <div class="image-container">
            <img class="bookimage" src="static/image/book.jpeg" alt="book">
            <div class="overlay-text username">
                <strong>Name:</strong> {{.Username}}
            </div>
            <div class="overlay-text email">
                <strong>Email:</strong> {{.Email}}
            </div>
            <div class="overlay-text likes">
                <strong>Likes:</strong> {{.NumLikes}}
            </div>
            <div class="overlay-text dislikes">
                <strong>Dislikes:</strong> {{.NumDislikes}}
            </div>
            <div class="overlay-text post">
                <strong>Number of Posts:</strong> {{.NumPosts}}
            </div>
            <div class="overlay-text replies">
                <strong>Number of Comments:</strong> {{.NumComments}}
            </div>
            <div class="overlay-text delete-account">
                <form action="/delete-account" method="post" onsubmit="return confirm('Are you sure you want to delete your account?');">
                    <button type="submit" style="color: red;">Delete Account</button>
                </form>
            </div>
        </div>

        <!-- Section for user's posts -->
        <div class="user-posts">
            <h2>Your Posts</h2>
            {{if .Posts}}
                <ul>
                    {{range .Posts}}
                        <li>
                            <a href="/post/view?id={{.PostID}}">{{.Title}}</a> - {{.CreatedAt}}
                        </li>
                    {{end}}
                </ul>
            {{else}}
                <p>You have not made any posts yet.</p>
            {{end}}
        </div>
    </main>

    <footer>
        <p>&copy; 2024 - Jonathan Dahl & Laura Levistö - KOOD/Sisu</p>
    </footer>
</body>
</html>
